    <nav class="clearfix white bg-black">
      <div class="sm-col">
        <a href="/" class="button py2 button-transparent">Home</a>
        <a href="/" class="button py2 button-transparent">Burgers</a>
        <a href="/" class="button py2 button-transparent">Fries</a>
      </div>
      <div class="sm-col-right">
        <div id="account-menu" class="inline-block">
          <div class="relative">
            <a href="#!" class="button py2 m0 button-transparent">My Account &#9662;</a>
            <div data-details class="absolute left-0 right-0 nowrap black bg-white">
              <ul class="h5 list-reset mb0">
                <li><a href="#!" class="button block button-transparent">Profile</a></li>
                <li><a href="#!" class="button block button-transparent">Settings</a></li>
                <li><a href="#!" class="button block button-transparent">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <header class="center px3 py4 white bg-gray bg-cover bg-center"
      style="background-image: url(https://d262ilb51hltx0.cloudfront.net/max/2000/1*DZwdGMaeu-rvTroJYui6Uw.jpeg)">
      <h1 class="h1 h0-responsive caps mt4 mb0 regular">Hamburgers</h1>
      <p class="h3">Artisinal ground chuck creations</p>
      <a href="#" class="h3 button button-big mb4">Pancake</a>
    </header>


    <section class="container px2 py3">
      <div class="clearfix mxn2">
        <div class="sm-col sm-col-4 px2">
          <h2 class="h1 mb0">Bacon</h2>
          <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
          <button class="button mb1 bg-red">Button</button>
        </div>
        <div class="sm-col sm-col-4 px2">
          <h2 class="h1 mb0">Bratwurst</h2>
          <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
          <button class="button-outline purple">Button</button>
        </div>
        <div class="sm-col sm-col-4 px2">
          <h2 class="h1 mb0">Andouille</h2>
          <p>Bacon ipsum dolor sit amet chuck prosciutto landjaeger ham hock filet mignon shoulder hamburger pig venison. Ham bacon corned beef, sausage kielbasa flank tongue pig drumstick capicola swine short loin ham hock kevin.</p>
          <button class="button-transparent lime">Button</button>
        </div>
      </div>
    </section>


    <section class="container px2 py3">
      <h1 class="mt0">
        <a href="#" class="navy">
          Gallery
        </a>
      </h1>
      <div class="clearfix mxn2">
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="sm-show md-hide clearfix"></div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="md-show lg-hide clearfix"></div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="sm-show md-hide clearfix"></div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
        <div class="col col-6 sm-col-4 md-col-3 lg-col-2 px2 mb3">
          <a href="#" class="block">
            <img src="http://placehold.it/500" class="block" />
          </a>
        </div>
      </div>
    </section>