{% include "./_header.html" %}

  <header class="global-header m1">
    <div class="container">
      <nav class="global-nav">
        <ul class="list-unstyled">
          {% for page in collections.pages %}
            <li class="mb1 menu-item {% if link == page.link %}active{% endif %}"><a href="/{{page.link}}">{{page.title}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <main class="global-main">
    <div class="container">
      <form netlify class="clearfix" name="email_form" action="about.html">
        <input type="hidden" name="_next" value="/?email=sent" />
        <input type="hidden" name="_subject" value="New submission!" />
        <input type="hidden" name="_cc" value="dillon@codebrewers.ca" />
        <input type="text" name="_gotcha" style="display:none" />

        <input class="" type="text" name="name" placeholder="Name">
        <input class="" type="email" name="email" placeholder="Email">
        <input class="" type="submit" value="Send">
      </form>

      {{contents |safe}}

    </div>
  </main>

  <footer class="global-footer">
    <div class="container">
      Footer
    </div>
  </footer>

{% include "./_footer.html" %}